.form-item{
    margin-bottom: 20px;
}
.form-item label{
    display: inline-block;
    width: 200px;
}
.form-normal{
    border:none;
    margin-top: -10px;
}
.form{
    padding: 10px 200px;
    margin: 10px auto;
    background-color: #f6f6f6;
}
.title{
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 20px;
}
.item-val{
    color: #666;
    margin-left: 10px;
}